.green-background{
  background-image: url("https://www.linuxmint.com/img/bg.png");
  background-size: cover;
  background-position-y: -15em;

}

#backgroundColumn {
  background-image: url(https://www.linuxmint.com/img/bg-wrapper.png);
  margin-top: 10em;
}

#topMenu{
  padding-top: 6em;
}

